.colored-toast {
    &.swal2-icon-success {
        background-color: #a5dc86 !important;
    }

    &.swal2-icon-error {
        background-color: #f27474 !important;
    }

    &.swal2-icon-warning {
        background-color: #f8bb86 !important;
    }

    &.swal2-icon-info {
        background-color: #3fc3ee !important;
    }

    &.swal2-icon-question {
        background-color: #87adbd !important;
    }

    .swal2-title,
    .swal2-close,
    .swal2-html-container {
        color: white;
    }
}

@layer components {}